body{
margin:0;
font-family:'Segoe UI',sans-serif;
text-align:center;
padding:20px;
overflow:hidden;
transition:0.8s;
}

canvas{
position:fixed;
top:0;
left:0;
pointer-events:none;
}

.fade{animation:fadeIn 0.6s;}
@keyframes fadeIn{
from{opacity:0;transform:scale(0.95);}
to{opacity:1;transform:scale(1);}
}

.contenedor{
max-width:700px;
margin:auto;
padding:30px;
border-radius:20px;
backdrop-filter:blur(5px);
}

button{
margin-top:15px;
padding:10px 20px;
border:none;
border-radius:20px;
background:#ff4d88;
color:white;
cursor:pointer;
}

#previewImagen{
max-width:250px;
border-radius:15px;
display:none;
margin-top:10px;
}

/* Juego */
#areaJuego{
position:relative;
width:300px;
height:200px;
margin:auto;
overflow:hidden;
border-radius:10px;
background:rgba(255,255,255,0.2);
}

.corazon{
position:absolute;
font-size:20px;
cursor:pointer;
animation:caer 3s linear forwards;
}
@keyframes caer{
from{transform:translateY(-20px);}
to{transform:translateY(220px);}
}

/* Carta */
#carta{
background:rgba(255,255,255,0.2);
padding:15px;
border-radius:10px;
margin-top:15px;
}

/* MODOS */
.modo1{background:linear-gradient(45deg,#ff9a9e,#fecfef);}
.modo2{background:linear-gradient(45deg,#ff6a88,#ff99ac);}
.modo3{background:linear-gradient(45deg,#ff758c,#ff7eb3);}
.modo4{background:linear-gradient(45deg,#fddb92,#d1fdff);}
.modo5{background:linear-gradient(45deg,#141e30,#243b55);color:#ffccdd;}
